/* Styles pour le conteneur du menu */
*, body {
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.pied {
    display: flex; /* alignés horizontalement*/
    justify-content:center; /* occupant toute la largeur */
    flex-wrap: wrap; /* avec retour à la ligne si débordement */
}
.navig {
    display: flex;
    justify-content: center; /* groupés au centre */
    color: #fff;
  }
  a {
    color:bisque;
    padding: 0.2em 1em;
    text-decoration: none;
    background-color: chocolate;
    line-height: 2;
    margin: 2px;
    padding: 2px;
    border-bottom: 1px solid brown;
    border-right: 1px solid brown;
  }
  /* Styles pour les boutons du menu */
  .navig > li a {
    display: inline-block;
    height: 100%; /* Hauteur des boutons */
    font-weight: bold;
    padding: 1rem;
    text-align: center;
  }

  /* Style pour le survol des boutons */
  li a:hover {
    background-color:rgb(105, 67, 53);
    text-decoration: none;
    border-bottom: 1px solid bisque;
  }

.box {
    background-color:coral;
    text-align: center;
    display:flow-root;
    border-radius: 14px;
    margin-bottom: 1px;
}

.box, .navig, .pied { 
    list-style-type: none; /* dans un menu, pas de points aux listes */
  }
.resume {
    border: 1px solid salmon;
    padding: 5px;
    background-color:bisque;
}
.resume > h3 {
    background-color: chocolate; margin: 0px; padding: 5px; color:bisque; text-align: right;
}
.poesie, .prose, .theatre {
    font-family: 'Courier New', Courier, monospace; 
    border:1px dashed burlywood;
    background-color:whitesmoke;
    padding: 10px;
    margin: auto;
    width: 95%;
    font-size: 1rem;
    line-height: 1.2rem;
}
.poesie > p {
    text-align: center;  
}
.prose > p {
    text-indent: 30px;
    text-align: justify;
}
.theatre > p {
    margin: 0;
    padding-top: 8px;
    color:brown;
    
    text-align: justify;
    font-size: 0.9rem;
}
.didas {
    display: block;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3px;
}
.jeu {
    padding-left: 5px;
    color: brown;
}
.emphase {
    color: red;
}
.exemple {
    color: blue;
}
.reponse {
    color:green;
    display:none;
}
.question {
    color: purple;
    font-weight: bold;
    cursor: help;
}
.question:hover > .reponse {
    display:block;
    font-weight:0.8rem;
}
.titre {
    color:blue;
    font-weight: normal;
    font-variant: small-caps;
}