/* Styles pour le conteneur du menu */
* {
    box-sizing: border-box;
}
.navig {
    display: flex;
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center; /* Centrer les éléments verticalement */
    /* background-color: chocolate;*/
    color: #fff;
    list-style-type: none;/* enlever les  */
    padding: 0;
    margin: 0;
  }
  a {
    color:bisque;
    padding: 0.2em 1em;
    text-decoration: none;
    background-color: chocolate;
    line-height: 1.8;
    border-bottom: 1px solid brown;
  }
  /* Styles pour les boutons du menu */
  .navig > li a {
    display: inline-block;
    height: 100%; /* Hauteur des boutons */
    font-weight: bold;
    padding: 1rem;
    margin: 2px;
    text-align: center;
  }
  
  /* Style pour le survol des boutons */
  li a:hover {
    background-color:rgb(105, 67, 53);
    text-decoration: none;
    border-bottom: 1px solid bisque;
  }

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box {
    background-color:coral;
    width: 45%;
    margin: 4px;
    display: inline-block;
}
.resume {
    border: 1px solid salmon;
    padding: 5px;
    background-color:bisque;
}
.resume > h3 {
    background-color: chocolate; margin: 0px; padding: 5px; color:bisque; text-align: right;
}
.poesie, .prose, .theatre {
    font-family: 'Courier New', Courier, monospace; 
    border:1px dashed burlywood;
    background-color:whitesmoke;
    padding: 10px;
    margin: auto;
    width: 95%;
    font-size: 1rem;
    line-height: 1.2rem;
}
.poesie > p {
    text-align: center;
    
}
.prose > p {
    text-indent: 30px;
    text-align: justify;
}
.theatre > p {
    margin: 0;
    padding-top: 8px;
    color:brown;
    
    text-align: justify;
    font-size: 0.9rem;
}
.didas {
    display: block;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3px;
}
.jeu {
    padding-left: 5px;
    color: brown;
}
.emphase {
    color: red;
}
.exemple {
    color: blue;
}
.reponse {
    color:green;
    display:none;
}
.question {
    color: purple;
    font-weight: bold;
    cursor: help;
}
.question:hover > .reponse {
    display:block;
    font-weight:0.8rem;
}
.titre {
    color:blue;
    font-weight: normal;
    font-variant: small-caps;
}